@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.bgone{
  @apply bg-mycolor1 dark:bg-mycolor2 !important;
}
.navbgone {
  @apply bg-mycolor8/80 dark:bg-mycolor2/80 !important; /* Tailwind with 80% opacity */
}

.textone{
  @apply text-mycolor7 dark:text-mycolor1;
}
.validationLogin{
  @apply text-mycolor3 dark:text-mycolor3 !important;
}
.borderone{
  @apply border-slate-300 dark:border-slate-500
}
/* Scrollbar stilleri */
::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar rengi */
  border-radius: 10px; /* Kenarları yuvarlama */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Üzerine gelince renk */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar arka planı */
}
.text-blue-300 {
  text-shadow: 0px 4px 6px rgba(0, 0, 255, 0.4);
}
.bg-white{
  background-color: white;
}